@import "reset.css";
@import "navigation.css";
@import "form.css";
@import "mediaquery.css";

@font-face {
    font-family: 'Garamond';
    src: url('/fonts/gara.ttf');
}
body {
    background: url('/img/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Garamond', serif;
    font-size: 16px;
}
p {
    text-align: justify;
}
a, a:hover, a:focus, a:active {
    color: #000000;
    text-decoration: none;
}
a:hover, a:focus, a:active {
    color: #806F23;
}
.font-medium {
    font-size: 1.2em;
}
div.nopadding {
    padding: 0;
    margin: 0;
}
.infolist {
    margin-left: 30px;
}
.smallpadding {
    padding-right: 0 !important;
    margin: 0 !important;
}
.container-top {
    margin-top: 50px;
    margin-bottom: 50px;
}
.img-nowrap img {
    position: relative;
    left: -150px;
    max-width: 700px;
}
.site-title {
    display: block;
    width: 100%;
    letter-spacing: 0.6px;
    font-size: 3.7em;
    margin: 20px 0;
}
.top-buffer {
    margin-top:20px;
}
.imgRow {
    margin-top: 30px;
}
.imgRow-img {
    margin-bottom: 10px;
}
.imgRow-img img {
    max-width: 100%;
}
.img-caption {
    display: block;
    margin-top: 5px;
    text-align: center;
    font-size: 0.8em;
    text-transform: uppercase;
}
.imgRow-link {
    margin-top: 30px;
    font-weight: bold;
    font-size: 0.8em;
}
#openingsuren p {
    line-height: 0.60em;
}
#gallery {
    margin-top: 40px;
    padding: 0;
}
#gallery div {
    height: inherit;
}
#gallery img {
    max-width: 100%;
    padding-bottom: 30px;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #000000;
}
footer div.centered-footer ul {
    display: block;
    float: right;
}
footer ul {
    position: relative;
    top: 10px;
    margin-left: 15px;
}
footer ul li {
    float: left;
    list-style: none;
    font-size: 0.7em;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-right: 5px;
}
footer ul li:last-child {
    margin-right: 0;
}
footer a {
    color: #ffffff;
}
footer address {
    margin: 0;
}
article.newsitem span.title {
    font-size: 1.3em;
    font-weight: bold;
}
article.newsitem span.share {
    float: right;
}
article.newsitem span.share a {
    margin-right: 5px;
    cursor: pointer;
}
article.newsitem div.created {
    font-size: 0.9em;
    font-style: italic;
    color: #806F23;
}
article.newsitem span.message {
    display: block;
    margin-top: 10px;
}
article.newsitem span.modified {
    display: block;
    text-align: right;
    font-size: 0.8em;
    font-style: italic;
}
article.newsitem span.message img {
    max-width: 100%;
}